@import "tailwindcss";

@theme inline {
  --font-logo: var(--font-logo);
}

@theme {
  --text-*: initial;

  --text-base: 1rem; /* 16px */
  --text-lg: 1.125rem; /* 18px */
  --text-xl: 1.25rem; /* 20px */
  --text-2xl: 1.5rem; /* 24px */
  --text-3xl: 1.875rem; /* 30px */
}

/* Tablet */
@media (min-width: 48rem) {
  @theme {
    --text-base: 1.0625rem; /* 17px */
    --text-lg: 1.1875rem; /* 19px */
    --text-xl: 1.375rem; /* 22px */
    --text-2xl: 1.75rem; /* 28px */
    --text-3xl: 2.125rem; /* 34px */
  }
}

/* Laptop */
@media (min-width: 64rem) {
  @theme {
    --text-lg: 1.25rem; /* 20px */
    --text-xl: 1.5rem; /* 24px */
    --text-2xl: 1.875rem; /* 30px */
    --text-3xl: 2.25rem; /* 36px */
  }
}

@layer base {
  body {
    font-family:
      var(--font-inter),
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      "Helvetica Neue",
      Arial,
      sans-serif;
    font-size: var(--text-base);
    line-height: 1.6;
  }

  h1,
  h2,
  h3 {
    font-family: var(--font-ibm-plex-sans), system-ui, sans-serif;
    font-weight: 600;
    line-height: 1.2;
  }

  h1 {
    font-size: var(--text-2xl);
  }

  h2 {
    font-size: var(--text-xl);
  }

  h3 {
    font-size: var(--text-lg);
  }

  button {
    cursor: pointer;
  }
}

@layer components {
  .feature-btn {
    position: relative;
  }

  .feature-btn::before {
    content: "Coming Soon";
    position: absolute;
    top: -10px;
    left: 0;
    background-color: red;
    font-size: 0.7rem;
    font-weight: 700;
    padding-inline: 10px;
    border-radius: 20px;
  }
}

@layer utilities {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(3, auto);
    gap: 10px;
  }

  .wrapper {
    width: min(100% - 1.5rem, 70rem);
    margin-inline: auto;
  }
}
